---
layout: default
---

<div class="posts">
  {% for post in site.posts limit:1 %}
      {% if post.featured == true %}
    <article class="post">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <span class="tags">Tagged as: {{ post | tags }}</span><br />

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
    {% endif %}
  {% endfor %}
</div>

<div id="content">
  {% for post in site.posts limit:4 %}
      {% if post.featured != true %}
    <article class="post">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <span class="tags">Tagged as: {{ post | tags }}</span><br />

      <div class="entry">
        {{ post.excerpt | truncate: 140 }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
    {% endif %}
  {% endfor %}
</div>
        
        <div id="middle">
  {% for post in site.posts limit:3 offset:4 %}
      {% if post.featured != true %}
    <article class="post">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <span class="tags">Tagged as: {{ post | tags }}</span><br />

      <div class="entry">
        {{ post.excerpt | truncate: 140 }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
    {% endif %}
  {% endfor %}
        </section>

        <aside id="sidebar">
                <h2>3rd Content Area</h2>
        </aside>
