<div class="row">
    <div class="col-md-6 col-md-push-3">
        <a name="{{ key }}"></a>
        <img  src="/images/koditi.png"  class="author_pic"/>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-push-1 author-bio">
        <br>
        <p>
        <i>koditi.my</i> mempunyai matlamat untuk menjadi sumber rujukan utama bagi mereka yang terlibat dalam bidang pembangunan perisian (software development). Kami juga mempunyai aspirasi ingin membantu mereka yang bercita-cita menceburi bidang ini untuk memandu mereka ke arah yang sepatutnya.
        </p>

        <p>
        Sama ada anda adalah programmer, pengaturcara komputer, software developer, app developer, web developer, game developer ataupun peminat bidang IT, kami harap anda akan mendapat suatu manfaat melalui laman ini. Jika anda ingin terlibat sama menyumbang info-info berkaitan ke laman ini, jangan segan-segan untuk berhubung melalui akaun twitter kami <a href="https://twitter.com/koditi">@koditi</a> atau Facebook <a href="https://fb.me/koditi">fb.me/koditi</a>.
        </p>
    </div>
</div>
