<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.13/vue.min.js"></script>
</head>
<body>
<div id="app">
    <ul>
        <li v-for="post in posts">{{ post.message }}</li>
    </ul>
    <button v-if="!loggedIn" @click="login()">Login to view your posts</button>
    <button @click="getPost()">Get Posts</button>
    <pre>{{ $data | json }}</pre>
</div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1767915503436232',
            xfbml      : true,
            version    : 'v2.5'
        });
    
        new Vue({
            el: "#app",
            data: {
                posts: [],
                loggedIn: false
            },
            methods: {
                getPost: function() {
                    var self = this;
                    FB.api('/me/feed', function(response) {
                        self.posts = response.data;
                    });
                },
                login: function() {
                    var self = this;
                    FB.login(function(response){
                        if (response.status === 'connected') {
                            self.loggedIn = true;
                        }
                    }, {scope: 'publish_actions, user_posts'});
                }
            }
        });
    };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>
