---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
    {% if page.author %} by {{ page.author }} {% endif %}
  </div>
  
  <div class="panel">
    Get latest updates from us by joining our [Telegram Channel](https://telegram.me/devkini) - https://telegram.me/devkini or get into discussion in our [Telegram Group](https://telegram.me/joinchat/ACIF0AHECE3dGeOPeqM8zw).
  </div>

  {% include disqus.html %}
</article>
