---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  <span class="tags">Tagged as: {{ page | tags }}</span><br />

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
    {% if page.author %} by {{ page.author }} {% endif %}
  </div>
  
  <div class="panel">
    Get latest updates from us by joining our <a href="https://telegram.me/devkini">Telegram Channel</a> - <a href="https://telegram.me/devkini">telegram.me/devkini</a> or follow our <a href="https://twitter.com/devkini">Twitter</a>.
  </div>
  
  <div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

  {% include disqus.html %}
</article>
